.modal-window-shadow {
  visibility: hidden;
  display: none;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7); /* 少し透過させる */
  position: fixed; /* fixedにすることでスクロールに影響されない */
  top: 0;
  left: 0;
  z-index: 999; /* 他の要素の上に表示 */
}

.modal-window-edit {
  visibility: hidden;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* シャドウより上に表示 */
}

.modal-window-shadow.active {
  visibility: visible;
  display: block;
}
.modal-window-edit.active {
  visibility: visible;
  display: block;
}
